// Import Variable
@import "./partials/variable";

// Reset Code
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $dark-color;
  color: $white-color;
}

h1,
h2,
h3,
h4,
p {
  font-weight: $regular;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Reuseable
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

// Layout
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark-color;
  z-index: $z-fixed;
}

// Navigation Area
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: $medium-bold;
}

.nav__logo {
  display: block;
  font-family: $logo-font;
  font-size: $small-font-size;
  color: $white-color;
  padding: 0.4rem;
  text-transform: uppercase;
  border: 1px solid $white-color;
  border-radius: 0.2rem;
  transition: .5s;
}

.nav__logo:hover {
  background-color: $white-color;
  color: $dark-color;
}

.nav__menu {
  @media screen and (max-width: 767.99px) {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $dark-color;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    padding: 2rem;
    transition: 0.5s opacity;
  }
}

// Show Menu
.show {
  left: 0;
  opacity: 1;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  position: relative;
  font-size: 1.125rem;
  color: #fff;
  font-weight: $medium-bold;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  top: 2rem;
  left: 0;
  background-color: $white-color;
}

.nav__toggle {
  .bx-menu {
    font-size: 2rem;
  }
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

// Main area
.home {
  row-gap: 2.5rem;
}

.home__title {
  font-family: $stylish-font;
  font-weight: $medium-bold;
  font-size: 2.25rem;
}

.home__text {
  padding: 1.5rem 0;
  font-size: $small-font-size;
}

.home__more--link {
  display: flex;
  align-items: center;
  font-size: $small-font-size;
  font-weight: $bold;
  color: $white-color;

  img {
    width: 24px;
    margin-left: 1rem;
  }
}

.home__image-part {
  position: relative;
  margin-bottom: 7rem;
}

.home__image {
  border-radius: 0.2rem;
}

.home__info {
  width: 270px;
  display: grid;
  row-gap: 1rem;
  background-color: $dark-color;
  padding: 1rem 1.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  position: absolute;
  bottom: -5.6rem;
  right: 1rem;

  h3 {
    font-family: $stylish-font;
    font-weight: $medium-bold;
    font-size: 1.125rem;
    letter-spacing: 1px;
  }
}

.home__info--layout {
  display: flex;
  align-items: center;

  img {
    margin-right: 0.875rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  h4 {
    font-size: 12px;
    font-weight: $medium-bold;
    margin-bottom: 0.15rem;
  }

  span {
    display: block;
    font-size: 0.625rem;
    font-weight: $medium-bold;
    color: $light-gray;
  }
}

.footer {
  height: 2rem;

  p {
    text-align: center;
    font-size: $small-font-size;
    color: $light-color;
    font-weight: $bold;

    a {
      display: inline-block;
      color: #9d4edd;
    }
  }
}

// Media Queries
@media screen and (min-width: 576.99px) {
  .home__info {
    width: 330px;
    right: 2rem;
  }
}

@media screen and (min-width: 768.99px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__item {
    display: inline-block;
    margin: 0 1rem;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    column-gap: 0;
    align-items: center;
  }

  .home__title {
    font-size: $big-font-size;
  }

  .home__text {
    font-size: $medium-font-size;
  }

  .home__more--link {
    font-size: $normal-font-size;
  }
}
