@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:ital,wght@0,500;1,600&family=Montserrat:wght@400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 4rem 0 0 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  background-color: #181719;
  color: #fff;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181719;
  z-index: 100;
}

.nav {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.nav__logo {
  display: block;
  font-family: "Crimson Pro", serif;
  font-size: 0.875rem;
  color: #fff;
  padding: 0.4rem;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__logo:hover {
  background-color: #fff;
  color: #181719;
}

@media screen and (max-width: 767.99px) {
  .nav__menu {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background-color: #181719;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    padding: 2rem;
    -webkit-transition: 0.5s opacity;
    transition: 0.5s opacity;
  }
}

.show {
  left: 0;
  opacity: 1;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  position: relative;
  font-size: 1.125rem;
  color: #fff;
  font-weight: 500;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  top: 2rem;
  left: 0;
  background-color: #fff;
}

.nav__toggle .bx-menu {
  font-size: 2rem;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.home {
  row-gap: 2.5rem;
}

.home__title {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 2.25rem;
}

.home__text {
  padding: 1.5rem 0;
  font-size: 0.875rem;
}

.home__more--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
}

.home__more--link img {
  width: 24px;
  margin-left: 1rem;
}

.home__image-part {
  position: relative;
  margin-bottom: 7rem;
}

.home__image {
  border-radius: 0.2rem;
}

.home__info {
  width: 270px;
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  background-color: #181719;
  padding: 1rem 1.25rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  position: absolute;
  bottom: -5.6rem;
  right: 1rem;
}

.home__info h3 {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 1px;
}

.home__info--layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__info--layout img {
  margin-right: 0.875rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.home__info--layout h4 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.home__info--layout span {
  display: block;
  font-size: 0.625rem;
  font-weight: 500;
  color: #828282;
}

.footer {
  height: 2rem;
}

.footer p {
  text-align: center;
  font-size: 0.875rem;
  color: #a9a9a9;
  font-weight: 700;
}

.footer p a {
  display: inline-block;
  color: #9d4edd;
}

@media screen and (min-width: 576.99px) {
  .home__info {
    width: 330px;
    right: 2rem;
  }
}

@media screen and (min-width: 768.99px) {
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__item {
    display: inline-block;
    margin: 0 1rem;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 0;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__title {
    font-size: 3rem;
  }
  .home__text {
    font-size: 1.5rem;
  }
  .home__more--link {
    font-size: 1.125rem;
  }
}
